body {
  background-image: url("../jarvis-bkrd.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.container {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.logo {
  display: block;
  width: 40%;
}
.title {
  margin-top:100px;
}