.container {
  text-align: center;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.logo {
  display: block;
  width: 50%;
}
.title {
  margin-top:100px;
}
.button {
  size: 24px;
}
